.page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(4, 1fr);
}

/* SIDE BAR SECTION */
.side-bar {
  background-color: #0ea5e9;
  font-size: 24px;
  font-weight: 700;
  color: #fff;

  grid-column: 1 / 2;
  grid-row: 1 / -1;
  height: 100vh;

  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  row-gap: 32px;
}

.dashboard-container {
  display: flex;
  align-items: center;

  gap: 32px;
  padding-left: 24px;
  padding-right: 24px;
}

.fixing-dashboard {
  grid-row: 1 / 2;
}

.dashboard-icon,
.dashboard-icon-primary {
  justify-self: start;
}

.dashboard-icon-primary {
  width: 60px;
  height: 60px;
}

.dashboard-icon {
  width: 30px;
  height: 30px;
}

.dashboard-title {
  font-size: 32px;
}

.dashboard-nav1 {
  display: grid;
  grid-template-rows: repeat(6, 50px);
}

.dashboard-nav1 {
  grid-row: 2 / 3;
}

.dashboard-nav2 {
  grid-row: 3 / 4;

  display: grid;
  grid-template-rows: repeat(3, 50px);
}

/* HEADER SECTION */

.header {
  box-shadow: 4px 4px 4px 4px #a1a1aa;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.search {
  grid-column: 1/2;
  grid-row: 1/2;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 18px;

  padding-left: 32px;
}

.search-icon {
  width: 30px;
  height: 30px;
}

.search-input {
  width: 700px;
  height: 30px;
  border-radius: 24px;
  border: none;
  background-color: #e2e8f0;

  padding-left: 12px;
  font-size: 18px;
}

.profile {
  grid-column: 2/-1;
  grid-row: 1/2;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
}

.profile-icon {
  width: 30px;
  height: 30px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 24px;
}

.profile-name {
  font-size: 20px;
  font-weight: 700;
}

/* MAIN SECTION */

.main {
  background-color: #f1f5f9;
  grid-row: 2/ -1;
}
